body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.fundoCadastro {
  background-image: url("cadastro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .cadastro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  form {
    width: 80%;
    max-width: 400px;
  }
}
